{% set linkField = linkField ?? null %}
{% set extraClass = extraClass ?? null %}

{% set url = url ?? (linkField ? linkField.url : null) %}
{% set ariaLabel = ariaLabel ?? (linkField ? linkField.label : null) %}
{% set target = target ?? (linkField ? linkField.target : null) %}
{% set label = label ?? (linkField ? linkField.label : null) %}

{% set btnStyle = btnStyle ?? false %}
{% set btnType = btnType ?? false %}
{% set withBg = withBg ?? false %}
{% set withArrow = withArrow ?? false %}
{% set noLink = noLink ?? null %}
{% set noBorderAnimation = noBorderAnimation ?? false %}

{% if noLink %}
    <div class="group {{ btnStyle ? 'link-btn' : 'link' }} {{ noBorderAnimation ? 'link--no-border-animation' }} {{ btnStyle and btnType ? 'link-btn--' ~ btnType }} {{ btnStyle and withBg ? 'link-btn--bg'}} {{ extraClass }}">
        <span>{{ label }}</span>
        {% if withArrow %}
            {{ svg('assets/icons/arrow-top-right.svg')|attr({class:"link-arrow"})}}
        {% endif %}
    </div>
{% else %}
    <a href="{{ url }}" class="group {{ btnStyle ? 'link-btn' : 'link' }} {{ noBorderAnimation ? 'link--no-border-animation' }} {{ btnStyle and btnType ? 'link-btn--' ~ btnType }} {{ btnStyle and withBg ? 'link-btn--bg'}} {{ extraClass }}" aria-label="{{ ariaLabel }}" target="{{ target ?? '' }}">
        <span>{{ label }}</span>
        {% if withArrow %}
            {{ svg('assets/icons/arrow-top-right.svg')|attr({class:"link-arrow"})}}
        {% endif %}
    </a>
{% endif %}
