{% set industries = craft.entries().section('industries').all() %}
{% set linkField = section.linkField %}
{% set grids = 'grid gap-xs grid-cols-' ~ industries|length %}
{% set noTitleText = section.noTitleText %}

<section class="section">
    <div class="container flex flex-row gap-xs">
        {% if not noTitleText %}
            <div class="w-full max-w-17">
                {% include "_components/title" with { title: section.title, extraClass: 'font-heading font-bold text-md mb-sm' } %}
                <p class="mb-md">{{ section.textMultiple }}</p>
                {% if linkField %}
                    {% include "_components/link" with { linkField: linkField, btnStyle: true, withBg: true, withArrow: true } %}
                {% endif %}
            </div>
        {% endif %}
        {% if industries|length %}
            {% if noTitleText %}
                <ul class="grid grid-cols-3">
                    {% for item in industries %}
                        <li>
                            {% include "_components/card" with {
                                url: item.url, 
                                title: item.title, 
                                text: item.textMultiple,
                                linkLabel: 'More about'|t ~ ' ' ~ item.title
                            } %}
                        </li>
                    {% endfor %}
                </ul>
            {% else %}
                <ul class="w-full {{ grids }}">
                    {% for item in industries %}
                        <li class="transition-[width] bg-white py-lg px-sm rounded-base" x-data="{ openItem: false }">
                            <div @click="openItem = ! openItem">
                                <div>
                                    {{ svg('assets/icons/arrow-top-right.svg')|attr({ class: "text-prim w-1 h-auto" })}}
                                </div>
                                <div x-show="openItem">
                                    {% if index is same as 1 %}
                                        <h2>{{ item.title }}</h2>
                                    {% else %}
                                        <h3>{{ item.title }}</h3>
                                    {% endif %}
                                    <p>{{ item.textMultiple }}</p>
                                </div>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endif %}
    </div>
</section>